body {
    text-align: center;
    background-color: black;
}

h1 {
    color: white;
}

#scoreboard {
    color: white;
    font-size: x-large;
}

#result {
    color: white;
    font-size: x-large;
}

.grid-conatiner {
    display: inline-block;
    align-items: center
}

.grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: solid 1px;
    width: 1000px;
    height: 1000px;
}

.grid div {
    width: 50px;
    height: 50px;
}

.shooter {
    background-color: blue;
    background-image: url("ship.jpg");
    background-size: contain;
}

.invader {
    background-color: black;
    border-radius: 10px;
    background-image: url("Alien.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.boom {
    background-color: red;
    background-image: url("Explode.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.laser {
    background-color: black;
    background-image: url("missile.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.AlienLaser {
    background-color: orange;
    background-image: url("AlienLaser.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}